<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .layui-form-label {
            padding: 6px 10px;
            width: 80 px;
        }

        .layui-input {
            height: 32px;
            line-height: 32px;
        }

        .mySelect dl {
            max-height: 170px;
        }

        .my-form-class {
            padding: 15px 10px 0px 10px;
        }
    </style>
</head>
<body class="myPage-body">
<form class="layui-form my-form-class" action="">
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">用户编号</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="custNo" lay-verify="required|number|cust_no" autocomplete="off" placeholder="数字,必填"
                       class="layui-input" maxlength="20">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_name" lay-verify="required" autocomplete="off" placeholder="必填" class="layui-input"
                       maxlength="32">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="cust_sex" lay-filter="cust_sex" lay-verify="required">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">所属小区</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="area" lay-filter="area" lay-verify="required" lay-search>
                    <option value="-1">请选择</option>
                    <option th:each="haAreas : ${haArea}"
                            th:value="${haAreas.areaId}" th:text="${haAreas.areaNo}+':'+${haAreas.haName}"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">所属楼栋</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="building" lay-filter="building" lay-verify="required" lay-search>
                    <option value="">请选择</option>
                    <!--<option th:each="haBuildings : ${haBuilding}"-->
                    <!--th:value="${haBuildings.buildingId}" th:text="${haBuildings.buildingNo}+':'+${haBuildings.name}"></option>-->
                </select>
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">所属房间</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="room" lay-filter="room" lay-verify="required" lay-search>
                    <option value="">请选择</option>
                    <!--<option th:each="haRooms : ${haRoom}"-->
                    <!--th:value="${haRooms.roomId}" th:text="${haRooms.name}"></option>-->
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">编号类型/证件类型</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="id_name" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input" maxlength="20"
                       value="">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">证件号码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="id_number" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input"
                       maxlength="32">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_tel" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input"
                       maxlength="32">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_mobile" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input"
                       maxlength="32">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">联系地址</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_addr" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input"
                       maxlength="32">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">邮政编码</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_zip" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input"
                       maxlength="32">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">开户银行</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_bank" lay-verify="" autocomplete="off" placeholder="选填" class="layui-input"
                       maxlength="32">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">开户账号</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="cust_account" lay-verify="code" autocomplete="off" placeholder="数字,选填" class="layui-input"
                       maxlength="32">
            </div>
        </div>
    </div>

    <div class="form-inline my-page-btn">
        <button lay-submit type="button" id="sure" lay-filter="sure" class="btn btn-default btn-sm btnMargin"><img
                src="../images/tick.png"/>确定
        </button>
        <button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../images/cancel.png"/>关闭
        </button>
    </div>
</form>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.use(['form', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer;
        var get_result_url = "/custom/AddHaCustom";

        form.verify({
            cust_no: function (value, item) { //value：表单的值、item：表单的DOM对象
                queryData = {custNo: $("#custNo").val()};
                if (isDataRepeat(queryData,"/custom/addingCellValidation") == true) {
                    return '用户编号重复';
                }
            },
            code: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (value != "" && isNaN(value)) {
                    return '输入只能为数字';
                }
            }
        });

        function submitInfo(sendData) {
            $.ajax({
                url: get_result_url
                , data: sendData
                , type: "POST"
                , contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
                , async: false //同步请求
                , success: function (data) {
                    if (data == "true") {
                        layer.msg("新增成功！", {icon: 1});
                        parent.$("#jqGrid").trigger("reloadGrid");
                        layer.close(index); //再执行关闭
                    } else {
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }

        form.on('select(area)', function (data) {
            // var areaObj = $(data.elem),
            //     _areaId = areaObj.val();
            var areaId = $("#area").val(); //拿到所属小区值
            if (areaId != null) {
                $.ajax({
                    url: "/custom/QueryHaBuildingJson"
                    , data: {
                        // selectType: "building",
                        areaId: areaId
                    },
                    dataType: "json"
                    , async: true //异步请求
                    , success: function (data) {
                        $("#building").empty();
                        var option = $("<option>").val("").text("");
                        $("#building").append(option);
                        for (var i = 0; i < data.length; i++) {
                            $("#building").append("<option value='" + data[i].buildingId + "'>" + data[i].buildingNo + ':' + data[i].name + "</option>");
                        }
                        //appendSelectOption("building", data.areaId, "");
                        $("#room").empty();
                        $("#room").append($("<option>").val("").text(""));
                        form.render('select');//刷新表单元素
                    }
                });
            }
        });

        form.on('select(building)', function(data){
            // var buildingObj = $(data.elem),
            //     _buildingId = buildingObj.val();
            var buildingId = $("#building").val(); //拿到所属楼栋值
            $.ajax({
                url: "/custom/QueryRoomJson"
                ,data: {
                    // selectType: "room",
                    buildingId: buildingId
                }
                ,dataType:"json"
                ,async:true //异步请求
                ,success: function(data){
                    // $("#room").empty();
                    // var option = $("<option>").val("").text("");
                    // $("#room").append(option);
                    for (var i = 0; i < data.length; i++) {
                        $("#room").append('<option value="'+data[i].roomId + '">' + data[i].name + '</option>');
                    }
                    // appendSelectOption("room", data, "");
                    form.render('select');//刷新表单元素
                }
            });
        });

        form.on('select(room)', function(data){
            var roomObj = $(data.elem),
                _roomName = roomObj.find("option:selected").text();

            area = $("#area").find("option:selected").text().split(":");
            building = $("#building").find("option:selected").text().split(":");
            $("#cust_addr").val(area[1] +'-'+ building[1] +'-'+ _roomName);
        });

        $("#close").click(function(){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.$("#jqGrid").trigger("reloadGrid");
            parent.layer.close(index); //再执行关闭
        });

        form.on('submit(sure)', function (data) {
            var data = {
                custNo: $("#custNo").val(),
                name: $("#cust_name").val(),
                sex: $("#cust_sex").val(),
                roomName: $("#room").find("option:selected").text(),
                idName: $("#id_name").val(),
                idNumber: $("#id_number").val(),
                tel: $("#cust_tel").val(),
                mobil: $("#cust_mobile").val(),
                addr: $("#cust_addr").val(),
                zip: $("#cust_zip").val(),
                bank: $("#cust_bank").val(),
                account: $("#cust_account").val(),
                buildingId:$("#building").val(),
            };
            submitInfo(data);
        });
    });
</script>
</body>
</html>