<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="myPage-body">
<form action="" method="post" onsubmit="">
    <table class="table table-bordered">
        <input type="hidden" id="custId" name="custId" th:value="${custId}">
        <thead>
        <tr>
            <th>用户编号</th>
            <th>用户名称</th>
            <th>性别</th>
            <th>住址</th>
            <th>执行结果</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customs:${custom}">
            <td th:text="${customs.custNo}"></td>
            <td th:text="${customs.name}"></td>
            <td th:text="${customs.sex}"></td>
            <td th:text="${customs.haArea.haName}+${customs.haBuilding.name}+${customs.haRoom.name}"></td>
            <td><font id="delResult" color="red"></font></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><button id="del" type="button" class="btn btn-default btn-sm"><img src="../images/delete.png" />删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use(['form', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,get_result_url = "/custom/DeleteHaCustom";

        function submitInfo(sendData){
            $.ajax({
                url: get_result_url
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(data == "true"){
                        $("#delResult").html("删除成功");
                        parent.$("#jqGrid").trigger("reloadGrid");
                    }else{
                        $("#delResult").html("删除失败");
                    }
                }
            });
        }
        $("#del").click(function(){
            var data = {
                custIds : $("#custId").val()
            };
            submitInfo(data);
        });
    });
</script>
</body>
</html>