<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .layui-form-label {
            padding: 6px 10px;
            width: 80px;
        }
        .layui-input{
            height: 32px;
            line-height: 32px;
        }
        .mySelect dl{max-height: 170px;}
    </style>
</head>
<body class="myPage-body">
<form class="layui-form my-form-class" action="">
    <input type="hidden" id="pricestandId" th:value="${priceId}">
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">表&nbsp;&nbsp;类&nbsp;型</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="meterTypeId" name="metertypeId" lay-verify="required" th:value="haPricestandards.metertypeId">
                    <option th:selected="${haPricestandards.metertypeId eq haMetertype.metertypeId}" th:each="haMetertype : ${haMetertypes}"
                            th:value="${haMetertype.metertypeId}" th:text="${haMetertype.name}">Credit card</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">价格名称</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="name" lay-verify="required|priceName" autocomplete="off" maxlength="16" placeholder="必填，唯一" class="layui-input" th:value="${haPricestandards.name}">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">收费方式</label>
            <div class="layui-input-inline mySelect" style="width:170px;">
                <select id="chargingmethods" lay-verify="required" th:value="${haPricestandards.chargingMethods}">
                    <option th:selected="${haPricestandards.chargingMethods=='后付费'}" value="后付费">后付费</option>
                    <option th:selected="${haPricestandards.chargingMethods=='预付费'}" value="预付费">预付费</option>
                    <option th:selected="${haPricestandards.chargingMethods=='第三方收费'}" value="第三方收费">第三方收费</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">分界点1</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="usagepoint1" lay-verify="required|isInterger|num_nl_0" autocomplete="off" maxlength="8" placeholder="必填，整数" class="layui-input" th:value="${haPricestandards.usagePoint1}">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">分界点2</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="usagepoint2" lay-verify="required|isInterger|num_nl_0|gt_point1" autocomplete="off" maxlength="8" placeholder="必填，整数" class="layui-input" th:value="${haPricestandards.usagePoint2}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">关阀余额</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="closeValveVal" lay-verify="isNum" autocomplete="off" maxlength="8" placeholder="选填，数字" class="layui-input" th:value="${haPricestandards.a1}">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">阈值天数</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="sDays" lay-verify="required|isInterger|num_gt_0" autocomplete="off" maxlength="8" placeholder="必填，数字" class="layui-input" th:value="${haPricestandards.sDays}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">最低限值</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="sMin" lay-verify="required|isInterger|num_nl_0" autocomplete="off" maxlength="8" placeholder="必填，数字" class="layui-input" th:value="${haPricestandards.sMin}">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">最高限值</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="sMax" lay-verify="required|isInterger|num_gt_0|gt_minUsage" autocomplete="off" maxlength="8" placeholder="必填，数字" class="layui-input" th:value="${haPricestandards.sMax}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">开始日期</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="startTime" lay-verify="required" autocomplete="off" placeholder="必填，日期" class="layui-input" th:value="${#dates.format(haPricestandards.startTime,'yyyy-MM-dd')}" readonly="readonly">
            </div>
        </div>
        <div class="layui-block">
            <label class="layui-form-label">截止日期</label>
            <div class="layui-input-inline" style="width:170px;">
                <input id="endTime" lay-verify="required" autocomplete="off" placeholder="必填，日期" class="layui-input" th:value="${#dates.format(haPricestandards.endTime,'yyyy-MM-dd')}" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="form-inline my-page-btn">
        <button lay-submit type="button" lay-filter="sure" class="btn btn-default btn-sm btnMargin" ><img src="../images/tick.png" />确定</button>
        <button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../images/cancel.png" />关闭</button>
    </div>
</form>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.use(['form', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer;
        var get_result_url = "/priceStandard/UpdatePricestandard";
        var g_priceName = "[[${haPricestandards.name}]]";
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

        $('#startTime').datepicker({
            weekStart: 1,
            autoclose: true,
            daysOfWeekHighlighted: "0,6",
            format: "yyyy/mm/dd",
            language: "zh-CN",
            orientation: "auto",
            todayHighlight: true
        });
        $('#endTime').datepicker({
            weekStart: 1,
            autoclose: true,
            daysOfWeekHighlighted: "0,6",
            format: "yyyy/mm/dd",
            language: "zh-CN",
            orientation: "auto",
            todayHighlight: true
        });

        form.verify({
            priceName: function(value, item){ //value：表单的值、item：表单的DOM对象
                queryData = {name: value};
                if(g_priceName != value && isDataRepeat(queryData,"/priceStandard/addingCellValidation") == true){
                    return '价格名称重复';
                }
            },
            isInterger: function(value, item){
                if(isNaN(value) || value%1 !== 0){
                    return '必须为整数';
                }
            },
            isNum: function(value, item){
                if(isNaN(value)){
                    return '必须为数字';
                }
            },
            num_gt_0: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!isNaN(value) && Number(value)<= 0){
                    return '必须大于0';
                }
            },
            num_nl_0: function(value, item){
                if(!isNaN(value) && Number(value)< 0){
                    return '必须为正数';
                }
            },
            gt_point1: function(value, item){
                if(!isNaN(value) && Number(value)<Number($("#usagePoint1").val())){
                    return '不小于临界点1';
                }
            },
            gt_minUsage: function(value, item){
                if(!isNaN(value) && Number(value)<Number($("#minUsage").val())){
                    return '不小于最低限值';
                }
            }
        });
        function submitInfo(sendData){
            $.ajax({
                url: get_result_url
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded;charset=UTF-8'
                ,data: sendData
                ,async:false //同步请求
                ,success: function(data){
                    if(data == "true"){
                        parent.$("#jqGrid1").trigger("reloadGrid");
                        parent.layer.close(index); //再执行关闭
                        parent.layer.msg("修改成功！", {icon: 1});
                    }else{
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }

        $("#close").click(function(){
            parent.layer.close(index); //再执行关闭
        });

        form.on('submit(sure)', function (data) {
            var data = {
                pricestandId: $("#pricestandId").val(),
                metertypeId: $("#meterTypeId").val(),
                name: $("#name").val(),
                chargingMethods: $("#chargingmethods").val(),
                usagePoint1: $("#usagepoint1").val(),
                usagePoint2: $("#usagepoint2").val(),
                closeValveVal: $("#closeValveVal").val(),
                sDays: $("#sDays").val(),
                sMin: $("#sMin").val(),
                sMax: $("#sMax").val(),
                startTime: $("#startTime").val(),
                endTime: $("#endTime").val()
            };
            submitInfo(data);
        });

    });
</script>
</body>
</html>