
<head th:fragment="header">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico">
    <link  href="../static/common/css/global.css?v=2.8.2" th:href="@{/common/css/global.css?v=2.8.2}" rel="stylesheet" />
    <link  href="../static/plugins/layui-v2.2.45/css/layui.css" th:href="@{/plugins/layui-v2.2.45/css/layui.css}" rel="stylesheet" />
    <link  href="../static/plugins/bootstrap-v3.3.7/css/bootstrap.min.css" th:href="@{/plugins/bootstrap-v3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <link  href="../static/plugins/bootstrap-select/css/bootstrap-select.css" th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet" />
    <link  href="../static/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css" th:href="@{/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css}" rel="stylesheet" />
    <link  href="../static/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" th:href="@{/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
    <link  href="../static/plugins/daterangepicker/daterangepicker-bs3.css" th:href="@{/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet" />
    <link  href="../static/plugins/jqGrid-v5.2.1/css/ui.jqgrid-bootstrap.css" th:href="@{/plugins/jqGrid-v5.2.1/css/ui.jqgrid-bootstrap.css}" rel="stylesheet" />
    <link  href="../static/plugins/ui-choose/css/ui-choose.css" th:href="@{/plugins/ui-choose/css/ui-choose.css}" rel="stylesheet" />
    <link  href="../static/plugins/font-awesome/css/font-awesome.min.css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <link  href="../static/plugins/zTree_v3/css/metroStyle/metroStyle.css" th:href="@{/plugins/zTree_v3/css/metroStyle/metroStyle.css}" rel="stylesheet" />

</head>
<div th:fragment="footer">
    <script type="text/javascript" src="../static/plugins/jquery/jquery-1.11.0.min.js" th:src="@{/plugins/jquery/jquery-1.11.0.min.js}"></script>
    <script type="text/javascript" src="../static/plugins/bootstrap-v3.3.7/js/bootstrap.js" th:src="@{/plugins/bootstrap-v3.3.7/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/plugins/bootstrap-select/js/bootstrap-select.js" th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>
    <script type="text/javascript" src="../static/plugins/bootstrap-select/js/i18n/defaults-zh_CN.js" th:src="@{/plugins/bootstrap-select/js/i18n/defaults-zh_CN.js}"></script>
    <script type="text/javascript" src="../static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" th:src="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript" src="../static/plugins/bootstrap-datepicker/bootstrap-datepicker.zh-CN.min.js" th:src="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script type="text/javascript" src="../static/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" src="../static/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" th:src="@{/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" src="../static/plugins/echarts-v3.8.4/echarts.min.js" th:src="@{/plugins/echarts-v3.8.4/echarts.min.js}"></script>
    <script type="text/javascript" src="../static/plugins/daterangepicker/moment.js" th:src="@{/plugins/daterangepicker/moment.js}"></script>
    <script type="text/javascript" src="../static/plugins/daterangepicker/daterangepicker.js" th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
    <script type="text/javascript" src="../static/common/js/myDateRangePickerFUNC.js?v=2.8.2" th:src="@{/common/js/myDateRangePickerFUNC.js?v=2.8.2}"></script>
    <script type="text/javascript" src="../static/plugins/layui-v2.2.45/layui.js" th:src="@{/plugins/layui-v2.2.45/layui.js}"></script>
    <script type="text/javascript" src="../static/plugins/layui-v2.2.45/layui-mz-min.js" th:src="@{/plugins/layui-v2.2.45/layui-mz-min.js}"></script>
    <script type="text/javascript" src="../static/plugins/jqGrid-v5.2.1/js/jquery.jqGrid.min.js" th:src="@{/plugins/jqGrid-v5.2.1/src/jquery.jqGrid.js}"></script>
    <script type="text/ecmascript" src="../static/plugins/jqGrid-v5.2.1/js/i18n/grid.locale-cn.js" th:src="@{/plugins/jqGrid-v5.2.1/js/i18n/grid.locale-cn.js}"></script>
    <script type="text/javascript" src='../static/common/js/myJqGridFUNC.js?v=2.8.2' th:src="@{/common/js/myJqGridFUNC.js?v=2.8.2}"></script>
    <script type="text/JavaScript" src="../static/common/js/common.js?v=2.8.2" th:src="@{/common/js/common.js?v=2.8.2}"></script>
    <script type="text/javascript" src='../static/plugins/jquery/jquery.timer.js' th:src="@{/plugins/jquery/jquery.timer.js}"></script>
    <script type="text/javascript" src="../static/plugins/ui-choose/ui-choose.js" th:src="@{/plugins/ui-choose/ui-choose.js}"></script>
    <script type="text/javascript" src='../static/plugins/zTree_v3/js/jquery.ztree.core.js' th:src="@{/plugins/zTree_v3/js/jquery.ztree.core.js}"></script>
    <script type="text/javascript" src='../static/plugins/zTree_v3/js/jquery.ztree.exhide.js' th:src="@{/plugins/zTree_v3/js/jquery.ztree.exhide.js}"></script>
    <script type="text/javascript" src='../static/plugins/zTree_v3/demo/js/fuzzysearch.js' th:src="@{/plugins/zTree_v3/demo/js/fuzzysearch.js}"></script>
    <script type="text/javascript" src="../static/common/js/myZtreeFunc.js?v=2.8.2" th:src="@{/common/js/myZtreeFunc.js?v=2.8.2}"></script>

</div>
