<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="myPage-body">
<form action="" method="post" onsubmit="">
    <input type="hidden" id="areaId" name="areaId" th:value="${areaId}">
    <input type="hidden" id="areaNo" th:value="${areaNo}">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>小区编号</th>
            <th>小区名称</th>
            <th>地址</th>
            <th>抄收月份</th>
            <th>说明</th>
            <th>执行结果</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="areas:${area}">
            <td th:text="${areas.areaNo}"></td>
            <td th:text="${areas.haName}"></td>
            <td th:text="${areas.addr}"></td>
            <td th:if="${areas.ds}=='S'">双月</td>
            <td th:if="${areas.ds}=='D'">单月</td>
            <td th:text="${areas.description}"></td>
            <td><font id="delResult" color="red"></font></td>
        </tr>
        </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><button id="del" type="button" class="btn btn-default btn-sm"><img src="../images/delete.png" />删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use(['form', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,get_result_url = "/area/DeleteArea";

        function submitInfo(sendData){
            $.ajax({
                url: get_result_url
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(data == "true"){
                        $("#delResult").html("删除成功");
                        parent.$("#jqGrid").trigger("reloadGrid");
                    }else{
                        $("#delResult").html("删除失败");
                    }
                }
            });
        }
        $("#del").click(function(){
            var areaId = $("#areaId").val();
            var data = {
                areaIds : areaId,
                areaNos:$("#areaNo").val()
            };
            submitInfo(data);
        });
    });
</script>
</body>
</html>