<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .layui-form-label {
            padding: 6px 10px;
        //width: 80px;
        }
        .layui-input{
            height: 32px;
            line-height: 32px;
        }
        .mySelect dl{max-height: 170px;}
    </style>
</head>
<body class="myPage-body">
<form class="layui-form my-form-class-single" action="">
    <input type="hidden" id="id" name="id" th:value="${rgnId}">
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">大区名称</label>
            <div class="layui-input-inline my-form-input-single">
                <input id="rgnName" name="rgnName" lay-verify="required|rgnName" autocomplete="off" placeholder="必填" class="layui-input" th:value="${rgn.name}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</label>
            <div class="layui-input-inline my-form-input-single">
                <input id="shortName" name="shortName" lay-verify="required|shortName" autocomplete="off" placeholder="必填" class="layui-input" th:value="${rgn.shortName}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">行政区号</label>
            <div class="layui-input-inline my-form-input-single">
                <input id="zcode" name="zcode" lay-verify="rgnNo" autocomplete="off" placeholder="选填" class="layui-input" th:value="${rgn.zcode}">
            </div>
        </div>
    </div>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
        </button>
        提示：“简称”用于表册显示。
    </div>
    <div class="form-inline my-page-btn-single">
        <button lay-submit type="button" id="sure" lay-filter="sure" class="btn btn-default btn-sm btnMargin" ><img src="../../images/tick.png" />确定</button>
        <button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../../images/cancel.png" />关闭</button>
    </div>
</form>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.use(['form', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer;
        var get_result_url = "/area/UpdateRgn";
        // var g_rgnId = "<%=rgnId%>";
        var g_rgnName = "[[${rgn.name}]]";
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

        form.verify({
            rgnName: function(value, item){ //value：表单的值、item：表单的DOM对象
                queryData = {name: $("#rgnName").val()};
                if(isDataRepeat(queryData,"/area/CheckRgnName") == true){
                    return '大区名称重复';
                }
            }
        });

        function submitInfo(sendData){
            $.ajax({
                url: get_result_url
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(data == "true"){
                        parent.layer.msg("修改成功！", {icon: 1});
                        parent.tree.refreshParentNode();
                        parent.$("#jqGrid").trigger("reloadGrid");
                        parent.layer.close(index); //再执行关闭
                    }else{
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }

        $("#close").click(function(){
            parent.$("#jqGrid").trigger("reloadGrid");
            parent.layer.close(index); //再执行关闭
        });

        form.on('submit(sure)', function (data) {
            var data = {
                id: $("#id").val(),
                name: $("#rgnName").val(),
                shortName: $("#shortName").val(),
                zcode: $("#zcode").val()
            };
            submitInfo(data);
        });
    });
</script>
</body>
</html>