 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .layui-form-label {
            padding: 6px 10px;
            width: 90px;
        }
        .layui-input{
            height: 32px;
            line-height: 32px;
        }
        .layui-form-select dl dd{
            overflow: visible;
        }
        .mySelect dl{max-height: 170px;}
        .my-form-class {
            padding: 15px 10px 0px 10px;
        }
        .my-form-item {
            margin-left:-15px;margin-right:-15px;
        }
    </style>
</head>
<body class="myPage-body">
<form class="layui-form my-form-class">
    <input type="hidden" id="cmdName" name="cmdName" th:value="${cmdName}">
    <input type="hidden" id="buildingId" name="buildingId" th:value="${buildingId}">
    <input type="hidden" id="roomId" name="roomId" th:value="${roomId}">
    <input type="hidden" id="meterId" name="meterId" th:value="${meterId}">
    <fieldset class="layui-elem-field layui-box">
        <legend>新增房间资料</legend>
        <div class="layui-form-item my-form-item">
            <div class="layui-block" >
                <label class="layui-form-label">房间名称</label>
                <div class="layui-input-inline" style="width:110px;">
                    <input id="roomName" name="roomName"  lay-verify="required|roomName" autocomplete="off" placeholder="必填" class="layui-input" maxlength="32">
                </div>
            </div>
            <div class="layui-block">
                <label class="layui-form-label">房间备注</label>
                <div class="layui-input-inline">
                    <input id="roomRemark" lay-verify="roomRemark" autocomplete="off" placeholder="" class="layui-input" maxlength="20">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field layui-box">
        <legend>新增表资料</legend>
        <div class="layui-form-item my-form-item">
            <div class="layui-block">
                <label class="layui-form-label">表&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                <div class="layui-input-inline" style="width:150px;">
                    <input id="meterNumber" name="meterNumber" lay-verify="meterNumber" autocomplete="off" placeholder="数字,1~14位" maxlength="16" class="layui-input" onkeyup="generalMask(this)">
                </div>
            </div>
            <div class="layui-block">
                <label class="layui-form-label">抄收设备</label>
                <div class="layui-input-inline mySelect" style="width:150px;">
                    <select id="deviceType" name="deviceType" lay-filter="deviceType">
                        <option value=""></option>
                        <option value="centor">集中器</option>
                        <option value="ccentor">集采器</option>
                        <option value="handDevice">手抄器</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item my-form-item">
            <div id="centor_block" class="layui-block">
                <label id="centor_label" class="layui-form-label">集&nbsp;&nbsp;中&nbsp;器</label>
                <div class="layui-input-inline mySelect" style="width:150px;">
                    <select id="centor" name="centor" lay-filter="centor" lay-search>
                        <option value=""></option>

                    </select>
                </div>
            </div>
            <div id="collector_block" class="layui-block">
                <label id="collector_label" class="layui-form-label">采&nbsp;&nbsp;集&nbsp;器</label>
                <div class="layui-input-inline mySelect" style="width:150px;">
                    <select id="collector" name="collector" lay-filter="collector" lay-search>
                        <option value=""></option>

                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item my-form-item">
            <div class="layui-block">
                <label class="layui-form-label">收费类型</label>
                <div class="layui-input-inline mySelect" style="width:150px;">
                    <select id="priceStand" lay-verify="priceStand">
                        <option value=""></option>
                        <option th:each="haPricestandardLists : ${haPricestandardList}"
                                th:value="${haPricestandardLists.pricestandId}" th:text="${haPricestandardLists.name}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-block">
                <label class="layui-form-label">倍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;率</label>
                <div class="layui-input-inline" style="width:150px;">
                    <input id="rate" lay-verify="rate" autocomplete="off" placeholder="数字" class="layui-input" value="100" >
                </div>
            </div>
        </div>

        <div class="layui-form-item my-form-item">
            <div class="layui-block">
                <label class="layui-form-label">安装时间</label>
                <div class="layui-input-inline" style="width:150px;">
                    <input id="setupTime" name="setupTime" lay-verify="setupTime" autocomplete="off" placeholder="时间" class="layui-input" th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}" readonly="readonly">
                </div>
            </div>
            <div class="layui-block">
                <label class="layui-form-label">总&nbsp;&nbsp;分&nbsp;表</label>
                <div class="layui-input-inline mySelect" style="width:150px;">
                    <select id="isBranch" lay-verify="isBranch">
                        <option selected="" value="1">分表</option>
                        <option value="0">总表</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item my-form-item">
            <div class="layui-block">
                <label class="layui-form-label">表&nbsp;&nbsp;底&nbsp;数</label>
                <div class="layui-input-inline" style="width:150px;">
                    <input id="primalNumber" name="primalNumber" lay-verify="primalNumber" autocomplete="off" placeholder="必填,数字" maxlength="12" class="layui-input" value="0" onkeyup="generalMask(this)">
                </div>
            </div>
            <div class="layui-block">
                <label class="layui-form-label">调&nbsp;&nbsp;节&nbsp;数</label>
                <div class="layui-input-inline" style="width:150px;">
                    <input id="offsetNumber" name="offsetNumber" lay-verify="num" autocomplete="off" placeholder="选填,数字" maxlength="12" class="layui-input" value="0" >
                </div>
            </div>
        </div>

        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
            </button>
            说明：KT410集中器的表号前面必须加"10",为12位表号;
            [表底数]请以装表时表盘实际读数为准。
        </div>
    </fieldset>
    <div class="form-inline" style="margin:0px 5px;text-align: right;padding-right:20px;padding-bottom:8px;">
        <button lay-submit type="button" lay-filter="sure" class="btn btn-default btn-sm btnMargin" ><img src="../images/tick.png" />确定</button>
        <button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../images/cancel.png" />关闭</button>
    </div>
</form>
<div th:include="include :: footer"></div>
<script>
    layui.use(['form', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer;

        var load_option_url = "/room/LoadDeviceOption";
        var op_url = "/room/RoomMeterAdd";
        var g_roomId = $("#roomId").val();
        var g_buildingId = $("#buildingId").val();
        var g_deviceType = "centor";

        $('#setupTime').datetimepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm-dd hh:ii:ss',//显示格式
            //minView: "secound",//设置只显示到月份
            initialDate: new Date(),//初始化当前日期
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        });

        function pageInit(){
            if(g_roomId != ""){
                $("#roomName").attr("readonly", "readonly");
                $("#roomRemark").attr("readonly", "readonly");
            }
            if(g_deviceType == "ccentor"){
                $("#centor_label").html("集&nbsp;&nbsp;采&nbsp;器");
                $("#collector_label").html("端&nbsp;&nbsp;口&nbsp;号");
                $("#centor_block").show();
                $("#collector_block").show();
            }else if(g_deviceType == "handDevice"){
                $("#centor_label").html("抄收线路");
                $("#centor_block").show();
                $("#collector_block").hide();
            }else{
                $("#centor_label").html("集&nbsp;&nbsp;中&nbsp;器");
                $("#collector_label").html("采&nbsp;&nbsp;集&nbsp;器");
                $("#centor_block").show();
                $("#collector_block").show();
            }
        }
        pageInit();

        form.on('select(deviceType)', function(data){
            // var deviceTypeObj = $(data.elem);
            g_deviceType = $("#deviceType").val();
            pageInit();
            $.ajax({
                url: load_option_url
                ,data: {
                    deviceType: g_deviceType,
                    roomId: g_roomId,
                    buildingId: g_buildingId
                }
                ,dataType: "json"
                ,type: "POST"
                ,async:true //异步请求
                ,success: function(data){
                    $("#centor").empty();
                    var option = $("<option>").val("").text("");
                    $("#centor").append(option);
                    for (var i = 0; i < data.length; i++) {
                        $("#centor").append("<option value='" + data[i].id + "'>" + data[i].centorNo + ':' + data[i].addr + "</option>");
                    }
                    // appendSelectOption("centor", data, "");
                    $("#collector").empty();
                    $("#collector").append($("<option>").val("").text(""));
                    form.render('select');//刷新表单元素
                    //g_buildingId = "";
                }
            });

        });
        form.on('select(centor)', function(data){
            var centorObj = $(data.elem);
            deviceId = centorObj.val();

            $.ajax({
                url: load_option_url
                ,data: {
                    deviceType: g_deviceType,
                    deviceId: deviceId,
                    buildingId:g_buildingId,
                }
                ,dataType:"json"
                ,type: "POST"
                ,async:true //异步请求
                ,success: function(data){
                    // appendSelectOption("collector", data, "");
                    $("#collector").empty();
                    $("#collector").append($("<option>").val("").text(""));
                    for (var i = 0; i < data.length; i++) {
                        $("#collector").append("<option value='" + data[i].collectorId + "'>" + data[i].nconf + ':' + data[i].addr + "</option>");
                    }
                    form.render('select');//刷新表单元素
                    //g_buildingId = "";
                }
            });

        });

        form.verify({
            roomName: function(value, item){ //value：表单的值、item：表单的DOM对象
                var queryData = "";
                queryData = {buildingId: g_buildingId, name: value};
                if(g_roomId == "" && isDataRepeat(queryData,"/room/addingCellValidation") == true){
                    return '房间名称重复';
                }
            },

            meterNumber: function(value, item){
                if(g_roomId != "" && !value){
                    return "表号不能为空";
                }
                if(value && Number(value) == 0){
                    return '表号不能为0';
                }
                queryData = {meterNumber: value};
                if(value && isDataRepeat(queryData,"/room/addingCellValidation") == true){
                    return '表号重复';
                }
            },
            priceStand: function(value, item){
                if($("#meterNumber").val() && !value){
                    return '请选择收费类型';
                }
            },
            rate: function(value, item){
                if($("#meterNumber").val() && !value){
                    return '不能为空';
                }
                if($("#meterNumber").val() && !validateFloat(value)){
                    return '只能为数字';
                }
                if($("#meterNumber").val() && Number(value) == 0){
                    return '不能为0';
                }
            },
            setupTime: function(value, item){
                if($("#meterNumber").val() && !value){
                    return '请选择安装时间';
                }
            },
            isBranch: function(value, item){
                if($("#meterNumber").val() && !value){
                    return '请选择总分表';
                }
            },
            primalNumber: function(value, item){
                if($("#meterNumber").val() && !value){
                    return '不能为空';
                }
                if($("#meterNumber").val() && !validateFloat(value)){
                    return '只能为数字';
                }
            },
            num: function(value, item){
                if(value && isNaN(value)){
                    return '只能为数字';
                }
            }
        });

        function submitInfo(sendData){
            $.ajax({
                url: op_url
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(data == "true"){
                        layer.msg("新增成功！", {icon: 1});
                    }else{
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }
        $("#close").click(function(){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.$("#jqGrid").trigger("reloadGrid");
            parent.layer.close(index); //再执行关闭
        });
        form.on('submit(sure)', function (data) {
            var tip = "";
            var data = {
                buildingId: g_buildingId,
                roomId: g_roomId, //房间号
                name: $("#roomName").val(), //房间名称
                description: $("#roomRemark").val(), //房间备注
                meterNumber: $("#meterNumber").val(), //表号
                deviceType: $("#deviceType").val(), //抄收设备
                centorId: $("#centor").val(), //集中器
                collectorId: $("#collector").val(), //采集器
                pricestandId: $("#priceStand").val(), //收费类型
                rate: $("#rate").val(), //倍率
                startTime: $("#setupTime").val(), //安装时间
                isBranch: $("#isBranch").val(), //总分表
                pnumber: $("#primalNumber").val(), //表底数
                offsetN: $("#offsetNumber").val() //调节数
            };

            if($("#meterNumber").val() && g_deviceType == "centor" && $("#collector").val() == ""){
                tip = "还未选择集中器下的采集器，是否确定？";
            }else if($("#meterNumber").val() && g_deviceType == "ccentor" && $("#centor").val() == ""){
                tip = "还未选择集采器，是否确定？";
            }else if($("#meterNumber").val() && g_deviceType == "handDevice" && $("#centor").val() == ""){
                tip = "还未选择抄收线路，是否确定？";
            }
            if(tip != ""){
                layer.confirm(tip, {icon:3, title:'提示'},
                    function(index, layero){
                        submitInfo(data);
                        layer.close(index);
                    });
            }else{
                submitInfo(data);
            }
        });
    });
</script>
</body>
</html>