<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="myPage-body">
<form action="" method="post" onsubmit="">
    <input type="hidden" id="meterId" name="meterId" th:value="${meterId}">
    <table class="table table-bordered">
        <input type="hidden" name="meterid" value="<%=meterids%>">
        <thead>
        <tr>
            <th>楼栋房间</th>
            <th>表地址</th>
            <th>收费类型</th>
            <th>倍率</th>
            <th>装表日期</th>
            <th>总分表</th>
            <th>执行结果</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meters:${meter}">
            <td th:text="${BuildingName}"></td>
            <td th:text="${meters.addr}"></td>
            <td th:text="${haPricestandards.name}"></td>
            <td th:text="${meters.rate}"></td>
            <td th:text="${#dates.format(meters.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:if="${meters.isBranch==1}" th:text="分表"></td>
            <td th:if="${meters.isBranch!=1}" th:text="总表"></td>
            <td><font id="delResult" color="red"></font></td>
        </tr>
        <tr>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td><button id="del" type="button" class="btn btn-default btn-sm"><img src="../images/delete.png" />删除</button>
            </td>
        </tr>
        <tbody>
    </table>
</form>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use(['form', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,get_result_url = "/room/RoomMeterDel";

        function submitInfo(sendData){
            $.ajax({
                url: get_result_url
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(data == "true"){
                        $("#delResult").html("删除成功");
                        parent.$("#jqGrid").trigger("reloadGrid");
                    }else{
                        $("#delResult").html("删除失败");
                    }
                }
            });
        }
        $("#del").click(function(){
            var data = {
                meterIds: $("#meterId").val()
            };
            submitInfo(data);
        });
    });
</script>
</body>
</html>