<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head title="小区结算" th:include="include :: header">
<body class="myPage-body">
<div class="container myContainer">
    <div class="row" style="margin:0;padding:5px 0px 5px 0px;">
        <div class="col-xs-2 my-form-col area-div">

            <select id="rgns" class="selectpicker form-control" multiple data-live-search="true"
                    data-live-search-placeholder="Search" data-actions-box="true" data-style="btn-default btn-sm"
                    data-size="5">
                <!--开始循环小区名称-->
                <option th:each="HaRgn : ${haRgnsListName}"
                        th:value="${HaRgn.id}" th:text="${HaRgn.name}">Credit card
                </option>
            </select>
        </div>
        <div class="col-xs-2 my-form-col">
            <select id='month_type' class="selectpicker form-control" data-style="btn-default btn-sm" title="选择月份类型">
                <option value=''>无</option>
                <option value='S'>单月</option>
                <option value='D'>双月</option>
            </select>
        </div>
        <div class="col-xs-2 my-form-col">
            <input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
        </div>
        <div class="col-xs-1 my-form-col">
            <button data-modal="" data-title="查询" class="layui-btn layui-btn-normal  layui-btn-sm search"><span
                    class="glyphicon glyphicon-search"></span> 查询
            </button>
        </div>

        <div id="nav3" class="my-btns pull-right" name="ControlButtons" style="display:block;">
            <button data-modal="" id="btn2" data-title="费用结算" class="layui-btn layui-btn-sm">费用结算</button>
            <button data-modal="" id="btn3" data-title="完成结算" class="layui-btn layui-btn-sm">完成结算</button>
            <button data-modal="" id="btn1" data-title="结算上传" class="layui-btn layui-btn-sm">结算上传</button>
        </div>

    </div>
    <div class="row my-form-no-edge">
        <div class="col-md-12 my-form-no-edge">
            <form class="form-horizontal" id="jqgridForm" role="form">
                <table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
                <div id="jqGridPager"></div>
            </form>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.config({
        base: '/common/js/',
        version: '2.8.2'
    }).extend({
        myLayui: 'myLayui'
    });
    layui.use(['layer', 'form', 'myLayui'], function () {
        var layer = layui.layer,
            form = layui.form,
            myLayui = layui.myLayui,
            g_appPage = 'calculate';

        var Post_Data = {ListNumber: 1, TotalLocation: "小区编号", SumColName: "总表数,总读数,本期总用量,不良表数"};
        var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 145, "/area/showList");
        GridObj.jqdefaultGridConfig.multiselect = true;
        GridObj.jqdefaultGridConfig.postData = Post_Data;
        GridObj.jqdefaultGridConfig.colNames = [
            'areaid', '小区编号', '小区册号', '小区名称', '地址', '抄收月份', '总表数'
            , '冻结抄收'
            , '最近抄收时间', '结算日期', '操作结果'];

        GridObj.jqdefaultGridConfig.colModel = [
            {name: 'areaId', width: 75, key: true, formatter: 'interger', hidden: true, frozen: true},
            {name: 'areaNo', width: 70, formatter: 'interger', frozen: true},
            {name: 'registeredNo', width: 70, frozen: true},
            {name: 'haName', width: 150, frozen: true},
            {name: 'addr', width: 150},
            {name: 'ds', width: 80},
            {name: 'haMeter.meterId', align: 'right', width: 70}
            , {
                name: 'reserved', width: 100, align: 'center'
                , formatter: function (cellvalue, options, rowObject) {
                    var isChecked = "", switch1;
                    if (cellvalue == "Y") {
                        isChecked = "checked";
                    } else {
                        isChecked = "";
                    }
                    switch1 = '<div class="layui-form"><input type="checkbox" data-id="' + rowObject["areaId"] + '" name="switch" class="freezeRead" lay-filter="freezeRead" lay-skin="switch" lay-text="开启|关闭" ' + isChecked + '></div>';
                    return switch1;
                }
            }
            //这是日期
            , {name: 'haMeter.thRTime', width: 150}
            , {name: 'lastsumDay', width: 150}
            , {name: '操作结果', width: 120}

        ];
        GridObj.jqdefaultGridConfig.footerrow = true;
        GridObj.jqdefaultGridConfig.userDataOnFooter = true;
        GridObj.jqdefaultGridConfig.loadComplete = function () {
            form.render('checkbox');

        };
        GridObj.drawGrid();
        GridObj.drawGridPager();
        GridObj.setGridSize();
        GridObj.gridResize();

        $('.selectpicker').selectpicker({
            actionsBox: true //保留全选,全不选按键
            , noneSelectedText: '请选择'
            , selectAllText: '选择所有'
            , deselectAllText: '取消全选'
            , liveSearchPlaceholder: '搜索'
        });
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                $(".search").click();
            }
        });
        //查询按钮点击事件
        $(".search").click(function () {
            // var  _pdArray = "", _rgnIds = $("#rgns").val().join(",");
            var _pdArray = "";
            var _rgnIds = null;
            if ($("#rgns").val() != null) {
                _rgnIds = $("#rgns").val().join(",");
            }

            // alert(_rgnIds);
            _pdArray = {
                "keyWord": $("#keyWord").val(),
                "aareaid": _rgnIds, //传id
                "ds": $("#month_type").val() //传单双月
            };
            // alert(_pdArray);
            fullTextSearch("jqGrid", _pdArray);
        });

        //$("#jqGrid").jqGrid('setFrozenColumns');//设置冻结列
        function switchDo(switchObj, data) {
            console.log(data);
            var confirmText = "";
            if (data["isON"] == "true") {

                confirmText = "确定开启小区冻结抄收吗？";
            } else {
                confirmText = "确定关闭小区冻结抄收吗？";
            }
            //
            layer.open({
                content: confirmText
                , btn: ['确定', '取消']
                , icon: 0
                , yes: function (index, layero) {
                    $.ajax({
                        url: "/RowEditing"
                        , type: "POST"
                        , contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
                        , data: {
                            OpNumber: "3",
                            areaId: data["areaId"],
                            reserved: data["isON"]
                        }
                        , success: function (data) {
                            if (data == "true") {
                                layer.msg("操作成功！", {icon: 1});
                            } else {
                                var flag = switchObj.prev().prop("checked");
                                switchObj.prev().prop("checked", !flag);
                                form.render("checkbox");
                            }
                        }
                    });
                    layer.close(index);
                }
                , btn2: function (index, layero) {
                    var flag = switchObj.prev().prop("checked");
                    switchObj.prev().prop("checked", !flag);
                    form.render("checkbox");
                }
                , cancel: function () {
                    var flag = switchObj.prev().prop("checked");
                    switchObj.prev().prop("checked", !flag);
                    form.render("checkbox");
                }
            });

            return false;
        }

        $(document).on('click', '.layui-form-switch', function () {
            var switchObj = $(this), selRowId = "", isON = "";
            selRowId = switchObj.prev().data("id");
            isON = switchObj.hasClass("layui-form-onswitch");
            // console.log("switch sel:"+selRowId+", isON:"+isON);
            var data = new Array();
            data["areaId"] = selRowId;
            data["isON"] = isON;
            //先把g_appPage更改一波
            if (g_appPage == "calculate") {
                switchDo(switchObj, data);
            } else {
                layer.msg("操作失败,请在管理页面进行操作！", {icon: 5});
                var flag = switchObj.prev().prop("checked");
                switchObj.prev().prop("checked", !flag);
                form.render("checkbox");
            }
        });
        var _myLayui = new myLayui;
        $(".layui-btn-sm").mouseenter(function () {
            var btnName = $(this).data("title");
            switch (btnName) {
                case "结算上传":
                    layer.tips('上传抄表数据至接口', '#btn1', {tips: [4, '#222222']});
                    break;
                case "费用结算":
                    layer.tips('生成缴费单和月报表,只有新抄收的表会重新生成交费单和月报表', '#btn2', {tips: [4, '#222222']});
                    break;
                case "完成结算":
                    layer.tips('开始新一期抄表，初始化新一期的用量', '#btn3', {tips: [4, '#222222']});
                    break;
                case "初始化":
                    layer.tips('删除小区所有下属的用户、表、房间、楼栋、设备档案', '#btn4', {tips: [4, '#222222']});
                    break;
                default:
                    break;
            }
        });

        var get_result_url = "/bill_op";//映射地址
        var g_cmd = "";
        var billManage = function (gridId) {
            this.gridId = gridId;
        };
        billManage.prototype.billOp = function () {
            var _this = this;
            var selRowId = _this.rowIds[_this.index];
            if (selRowId != "" && selRowId != undefined) {
                $(".layui-btn-group .layui-btn").addClass("layui-btn-disabled");
            } else {
                $(".layui-btn-group .layui-btn").removeClass("layui-btn-disabled");
                return false;
            }
            //var rowData = $("#"+this.gridId).jqGrid('getRowData', selRowId);
            $.ajax({
                url: get_result_url
                , type: "POST"
                , contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
                , data: {
                    opType: _this.opType,
                    areaId: selRowId
                }
                , async: false //同步请求
                , success: function (data) {
                    $("#" + _this.gridId).setRowData(selRowId, {"操作结果": data});
                    _this.index++;
                    _this.billOp();
                }
            });
        }
        var billManageObj = new billManage("jqGrid");
        $(".my-btns .layui-btn,.layui-btn-primary").click(function () {
            var _this = this, _layerSize, _queryStr;
            var btnName = $(_this).data("title"),
                areaids = GridObj.getSelRowIds();
            //console.log("areaids值为"+areaids);
            var b_isMultiIDs = isMultiIDs(areaids);
            if (areaids == "" && btnName != "新增" && btnName != "结算上传") {
                layer.msg("请选择操作行", {icon: 5});
                return false;
            }
            if (b_isMultiIDs == true && (btnName == "修改")) {
                areaids = getLastMultiIDs("jqGrid");
                layer.msg("只能单选", {icon: 5});
                return false;
            }
            switch (btnName) {
                case "抄收":
                    _layerSize = ['550px', '350px'];
                    _queryStr = [
                        "cmdName=抄收小区",
                        "ids=" + areaids
                    ];
                    _myLayui.showLayer("小区抄收", "../meter/meters_mng.asp", _queryStr, _layerSize);
                    break;
                case "刷新":
                    _layerSize = ['550px', '350px'];
                    _queryStr = [
                        "cmdName=刷新小区数据",
                        "ids=" + areaids
                    ];
                    _myLayui.showLayer("小区数据刷新", "../meter/meters_mng.asp", _queryStr, _layerSize);
                    break;
                case "新增":
                    _layerSize = ['545px', '330px'];
                    _queryStr = [
                        "cmdName=新增小区资料"
                    ];
                    _myLayui.showLayer("新增小区资料", "area_add.asp", _queryStr, _layerSize);
                    break;
                case "修改":
                    _layerSize = ['545px', '330px'];
                    _queryStr = [
                        "cmdName=修改小区资料",
                        "areaid=" + areaids
                    ];
                    _myLayui.showLayer("修改小区资料", "area_update.asp", _queryStr, _layerSize);
                    break;
                case "删除":
                    _layerSize = ['650px', '400px'];
                    _queryStr = [
                        "cmdName=删除小区资料",
                        "areaid=" + areaids
                    ];
                    _myLayui.showLayer("删除小区资料", "area_del.asp", _queryStr, _layerSize);
                    break;
                case "初始化":
                    _layerSize = ['650px', '400px'];
                    _queryStr = [
                        "cmdName=初始化小区资料",
                        "areaid=" + areaids
                    ];
                    layer.confirm('初始化小区档案非常危险！确实要执行吗？', {icon: 3, title: '提示'},
                        function (index, layero) {
                            _myLayui.showLayer("初始化小区资料", "area_init.asp", _queryStr, _layerSize);
                            layer.close(index);
                        });
                    break;
                case "结算上传":
                    _queryStr = [
                        "cmdName=结算上传",
                        "ids=" + areaids
                    ];
                    if (areaids != "") {//判断是否小区编号是否选中
                        _layerSize = ['550px', '350px'];
                        //展示弹出层 标题 地址 查询的什么东西 弹出层的大小尺寸
                        _myLayui.showLayer("小区结算上传", "/area_mng", _queryStr, _layerSize);
                    } else {
                        _layerSize = ['350px', '250px'];
                        _myLayui.showLayer("接口结算上传", "/interface/interface_data_upload", _queryStr, _layerSize);
                    }

                    break;
                case "费用结算":
                    _layerSize = ['650px', '400px'];
                    _queryStr = [
                        "cmdName=小区费用结算",
                        "billType=area",
                        "areaids=" + areaids
                    ];
                    //_myLayui.showLayer("费用结算","../pay/bill_create.asp", _queryStr, _layerSize);
                    billManageObj.rowIds = areaids.split(",");
                    billManageObj.index = 0;
                    billManageObj.opType = "费用结算";
                    billManageObj.billOp();
                    break;//
                case "完成结算"://
                    _layerSize = ['650px', '400px'];
                    _queryStr = [
                        "cmdName=小区完成结算",
                        "billType=area",
                        "areaids=" + areaids
                    ];//
                    //_myLayui.showLayer("完成结算","../pay/month_balance_finish.asp", _queryStr, _layerSize);
                    billManageObj.rowIds = areaids.split(",");
                    billManageObj.index = 0;
                    billManageObj.opType = "完成结算";
                    billManageObj.billOp();
                    break;
                default:
                    layer.msg("不支持的命令", {icon: 5});
                    break;
            }
        });
    });
</script>
</body>
</html>