BODY {
SCROLLBAR-FACE-color:#99cccc; SCROLLBAR-HIGHLIGHT-COLOR: #D0D0D0; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #cce6e6; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
; font-size: 12pt; background-image: url(../images/white.gif)
; background-color: #cce6e6
}
td {  font-size: 12px}
a {  color: #000000; text-decoration: none}
a:hover {  text-decoration: underline overline; color: #FF0000}
A:visited {font-size: 12px; color: #999999; text-decoration: none}
.tx {  border-width: 0px; background-color: #cce6e6; }
.tx1 { height: 20px; width: 30px; font-size: 10pt; cursor: hand}
.button1{ background-image: url('images/button_background.gif'); height: 18px;width:70px;font-size: 12px; border: 1px solid; background-color=#eaf5f5; cursor: hand;}
table {  background-color: #cce6e6}
th { background-color: #add6d6}
