
body {
    overflow: hidden;
	background: url(../../images/SmartCity.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    background-color: #f2f2f2;
}
.topBar {
	width:100%;height:50px;margin-top:0px;
	position: absolute;
	z-index: 100;
}
.topNav {
	float:right;margin-top:10px;background: 0 0;
}
.topBar img {
	margin-top:10px;margin-left:10px;
}
.topBar span {
    margin-top:10px;margin-left:10px;
	text-align: center;
    font-style: italic;
    font-family: 'Microsoft YaHei';
    text-shadow: 0 0 8px #00f7ff;
    color: white;
}
.topBar li {
	float: left;
}
.topBar a {
	color: #fff;font-size: 16px;padding: 6px 20px;border-radius: 3px;
	cursor: pointer;
	
}
.topBar a:hover {
    color: #fff;
    background-color: rgba(255,255,255,.2);
	text-decoration: none;
}
.footer {
	width:100%;position: absolute;z-index: 80; bottom:10px;text-align: center;
}
.layer_notice {
    background: #5fb878 none repeat scroll 0 0;
    float: left;
    height: 75px;
    overflow: hidden;
    padding: 10px;
    width: 330px;
}
.layer_notice ul li {
    color: #fff;
}
.video-player {
    background-color: transparent;
    min-width: 100%;
    min-height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
}

.video_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.2);
}

.login {
    height: 260px;
    width: 260px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -150px;
    z-index: 99;
}

.login h1 {
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

.form_code {
    position: relative;
}

.form_code .code {
    position: absolute;
    right: 0;
    top: 1px;
    cursor: pointer;
}

.login_btn {
    width: 100%;
}

@media screen and (orientation:portrait) {
    /*竖屏样式*/
    html {
      transform:rotate(90deg);
      -ms-transform:rotate(90deg); 
      -webkit-transform:rotate(90deg);
      transform-origin:center center;
      -ms-transform-origin:center center;
      -webkit-transform-origin:center center;

    }
  }