﻿BODY {
 font-size:12px;
 cursor:default;
 background-color:#ffffff;
  margin:0;
}

td { font-size: 12px;cursor:default;}

.tb_table{border: 1px solid #4476A7;width:100%;height:100%;text-align:center;vertical-align:center;background-color:#4476A7;color:white;}
.toolbar_td_00{border-top:#FFFFFF 1px solid;border-left:#FFFFFF 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;}
.toolbar_td_01{border-top:#FFFFFF 1px solid;border-left:#FFFFFF 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;cursor:hand;}
.toolbar_td_02{border-top:#000000 1px solid;border-left:#000000 1px solid;border-right:#FFFFFF 1px solid;border-bottom:#FFFFFF 1px solid;cursor:hand;}
.toolbar_td_03{border-top:#FFFFFF 1px solid;border-left:#FFFFFF 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;cursor:hand;}
.toolbartd1{border-top:#4476A7 1px solid;border-left:#4476A7 1px solid;border-right:#4476A7 1px solid;border-bottom:#4476A7 1px solid;cursor:hand;}
.toolbartd{
	//border: 1px solid transparent;
	cursor:hand;
}
.toolbarblank{border-top:#4476A7 1px solid;border-left:#4476A7 1px solid;border-right:#4476A7 1px solid;border-bottom:#4476A7 1px solid;}

.tb_redtxt { color:red;}
.tb_whitetxt { color:white;}
.tb_body { margin:0;width:100%;height:100%;}

