<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head title="区域抄表" th:include="include :: header">

</head>
<body  class="myPage-body">
<div class="container myContainer">
	<div class="row" style="margin:0;padding:5px 0px 5px 0px;">
		<div class="col-xs-2 my-form-col">
			<select id='showListType' class="selectpicker form-control" data-style="btn-default btn-sm">
				<option  th:each="entries,stat:${operatorCompnayList}" th:value="${entries['operatorCompanyId']}" th:text="${entries['operatorCompany']}"  th:selected="${stat.index eq 0}"></option>
			</select>
		</div>
		<div class="col-xs-2 my-form-col my-tree-class areaTreeDiv">
			<input id="nodeType" type="text" class="input-sm form-control hide" value="">
			<input id="nodeIds" type="text" class="input-sm form-control hide" value="">
			<input id="areaSel" name="areaSel" type="text" readonly class="input-sm form-control"  placeholder="---请选择区域---"/>
			<div id="menuContent" class="menuContent">
				<div class="ztreeInput">
					<div>
						<input type="text" class="input-key input-sm form-control" id="zTreeKey" placeholder="请输入节点关键字">
					</div>
					<div class="ztreeSkip">
						<label type="text" id="resultKey" class="form-control ztreeSkipLabel">
							<div class="ztreeSkipBtns">
								<a id="clickUp" class="glyphicon glyphicon-menu-up ztreeSkipUp"></a>
								<a id="clickDown" class="glyphicon glyphicon-menu-down ztreeSkipDown"></a>
							</div>
							<label id="number" class="ztreeSkipNum"></label>
						</label>
					</div>
				</div>
				<ul id="areaTree" class="ztree"></ul>
				<div class="clearfloat"></div>
			</div>
		</div>
		<div class="col-xs-1 my-form-col monthType" style="display:none;">
			<select id='monthTypeId' class="selectpicker form-control" data-style="btn-default btn-sm" title="月份类型">
				<option value='' >无</option>
				<option value='S' >单月</option>
				<option value='D' >双月</option>
			</select>
		</div>
		<div class="col-xs-1 my-form-col dateRange" style="display:none;">
			<input  id="queryMonth" class="input-sm form-control" type="text" value='' readonly="readonly" placeholder="选择查询月份"/>
		</div>
		<div class="col-xs-2 my-form-col">
			<input class="input-sm form-control" type="text" id="keyWord" size="10" placeholder="请输入关键字">
		</div>
		<div class="col-xs-1 my-form-col">
			<button data-modal="" data-title="查询" class="layui-btn layui-btn-normal layui-btn-sm search"><span class="glyphicon glyphicon-search"></span> 查询</button>
		</div>
		<div class="my-btns pull-right btns0" style="display:none;">
			<button data-modal="" data-title="接口数据上传" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-transfer"></span>&nbsp;接口数据上传</button>
		</div>
		<div class="my-btns pull-right btns1" style="display:none;">
			<button data-modal="" data-title="DBF文件" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-download"></span>&nbsp;DBF文件</button>
		</div>
		<div class="my-btns pull-right btns2">
			<button data-modal="" data-title="TXT文件" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-download"></span>&nbsp;TXT文件</button>
		</div>
		<div class="my-btns pull-right btns3" style="display:none;">
			<button data-modal="" data-title="数据上传" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-upload"></span>&nbsp;数据上传</button>
		</div>
		<div class="my-btns pull-right btns4" style="display:none;">
			<button data-modal="" data-title="EXCEL文件" class="layui-btn layui-btn-sm"><span class="glyphicon glyphicon-download"></span>&nbsp;EXCEL文件</button>
		</div>
	</div>
	<div class="row my-form-no-edge">
		<div class="col-md-12 my-form-no-edge">
			<form class="form-horizontal" id="jqgridForm" role="form">
				<table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
				<div id="jqGridPager"></div>
			</form>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	layui.config({
		base : '/common/js/',
		version: '2.8.2'
	}).extend({
		myLayui: 'myLayui'
	});
	layui.use(['element','layer', 'myLayui'], function(){
		var element = layui.element,
				myLayui = layui.myLayui,
				layer = layui.layer;
		var g_showListType = $("#showListType").val();
		var zOption = {
			url: "/nodes/getAreaNodes",
			selectedMulti: true,
			nodeTypeId: "nodeType",
			nodeIdsId: "nodeIds",
			nodeNamesId: "areaSel",
			clickCallBack: ""
		};

		var tree = new myzTree("areaTree", zOption);
		tree.dropDownTreeOpen();
		tree.fuzzySearch("zTreeKey", "clickUp", "clickDown", "number");
		$("#areaSel").click(function(){
			tree.showMenu();
		});

		$('.selectpicker').selectpicker({
			actionsBox: true //保留全选,全不选按键
			,noneSelectedText: '请选择'
			,selectAllText: '选择所有'
			,deselectAllText: '取消全选'
			,liveSearchPlaceholder: '搜索'
		});

		$('#queryMonth').datetimepicker({
			language: 'zh-CN',//显示中文
			format: 'yyyy-mm',//显示格式
			startView: 3,//首先显示的视图, 0当前时的分钟区间 1该天的每时 2该月的每天 3该年的每月 4年视图
			minView: "month",//设置只显示到月份
			autoclose: true//选中自动关闭
		});

		function companyChange(showListType){
			$(".monthType").hide();
			$(".dateRange").hide();
			$(".my-btns").hide();
			if(showListType == "sys_whyw" ||　showListType == "sys_hncc" || showListType == "sys_dgxsn"){
				$(".btns0").show();
			}
			if(showListType == "sys_zjss"){
				$(".btns1").show();
			}else if(showListType == "sys_tzss"){
				$(".monthType").show();
				$(".dateRange").show();
				$(".btns2").show();
			}else if(showListType == "sys_rass" || showListType == "sys_scsy" || showListType == "sys_scjdz"){
				$(".btns2").show();
			}else if(showListType == "sys_jrss" || showListType == "sys_dzss"){
				$(".btns3").show();
			}else if(showListType == "sys_gdsg"){
				$(".btns1").show();
				$(".btns4").show();
			}else if(showListType == "sys_jlhd"){
				$(".btns1").show();
			}
		}
		function showjqGridList(showListType){
			var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 115,'/thirdpartydata/thirdPartyReportJson');
			if(showListType == "sys_ntrq" || showListType == "sys_dgxsn"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户号','表地址','用户名','用户地址','最近读数','最近抄表时间','表状态'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100, formatter:'interger' },
					{ name: 'addr', width: 150 },
					{ name: 'userName', width: 150 },
					{ name: 'userDs', width: 200 },
					{ name: 'thNumber', align: 'right' ,width: 80 },
					{ name: 'thRTime', align: 'right' ,width: 150 },
					{ name: 'state', width: 90, cellattr: MeterStateCellColor },
				];
				GridObj.jqdefaultGridConfig.gridComplete = function(){MeterStateRowColor("jqGrid", "state")};
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_hsss"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','用户名','水表编号','用户地址','房号','读数','抄表时间'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100, formatter:'interger' },
					{ name: 'userName', width: 150 },
					{ name: 'meterNumber', align: 'right', width: 140 },
					{ name: 'userDs', width: 200 },
					{ name: 'haRoom.name', width: 80 },
					{ name: 'thNumber', align: 'right' ,width: 80 },
					{ name: 'thRTime',width: 150 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();

			}else if(showListType == "sys_zjss" || showListType==""){
				showListType = "sys_zjss";
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','水表编号','用户地址','读数','抄表时间'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100, formatter:'interger' },
					{ name: 'meterNumber', align: 'right', width: 140 },
					{ name: 'userDs', width: 200 },
					{ name: 'thNumber', align: 'right' ,width: 80 },
					{ name: 'thRTime',width: 150 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_tzss"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','用户名称','本次度数','抄表日期','用量','增减水量','状态','上次度数'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100},
					{ name: 'userName', width: 100},
					{ name: 'haFreeze.tfNumber', align: 'right', width: 80 },
					{ name: 'haFreeze.thTime', width: 150 },
					{ name: 'haFreeze.delta', align: 'right', width: 80 },
					{ name: 'emptyStr', align: 'right', width: 80 },
					{ name: 'state',width: 80 },
					{ name: 'haFreeze.lfNumber', align: 'right', width: 80 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_pkss"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','销账号','水费年月','上月抄见数','本月抄见数','抄见日期','用水量','远传表水表编号','初始导入标记'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100, formatter:'interger' },
					{ name: 'thRTime', align: 'right', width: 100,dataFormat:"yyyyMM" },
					{ name: 'emptyStr', align: 'right', width: 100 },
					{ name: 'thNumber', align: 'right' , width: 100 },
					{ name: 'thRTime',width: 150 },
					{ name: 'emptyStr', align: 'right', width: 80 },
					{ name: 'meterNumber', align: 'right' , width: 120 },
					{ name: 'defaultOne', align: 'right', width: 120 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_rass"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','抄收读数','抄表日期'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100, formatter:'interger' },
					{ name: 'thNumber', align: 'right', width: 80 },
					{ name: 'thRTime', width: 150 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_jrss"){
				companyChange(showListType);
				var mounthStr = new Date().Format("yyyyMM");
				GridObj.ExcelFileName = 'YC'+ mounthStr;
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','上次抄表读数','本次抄表读数','抄见水量','抄表日期'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100, formatter:'interger' },
					{ name: 'emptyStr', align: 'right', width: 100 },
					{ name: 'thNumber', align: 'right', width: 100 },
					{ name: 'emptyStr', align: 'right' ,width: 80 },
					{ name: 'thRTime',width: 150,formatter: "date",formatoptions: {newformat: 'Y/m/d'} }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_hncc"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','用户名称','表号','表底数','账户余额'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100 },
					{ name: 'userName', width: 100 },
					{ name: 'meterNumber', align: 'right', width: 100 },
					{ name: 'lfNumber', align: 'right', width: 80 },
					{ name: 'haRoom.balance', align: 'right', width: 80 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_nyss"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','表号','用户编号','抄收时间','读数'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'meterNumber', width: 100 },
					{ name: 'userNo', width: 100 },
					{ name: 'thRTime', width: 100 },
					{ name: 'thNumber', align: 'right', width: 100 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_hcss"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['id','用户编号','水表编号','抄表时间','上期度数','本期度数','追加水量'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100 },
					{ name: 'meterNumber', width: 120 },
					{ name: 'thRTime', width: 150 },
					{ name: 'lfNumber', align: 'right', width: 80 },
					{ name: 'thNumber', align: 'right', width: 80 },
					{ name: 'emptyStr', align: 'right', width: 80 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_ahqj"){
				companyChange(showListType);
				var mounthStr = new Date().Format("yyyyMM");
				GridObj.ExcelFileName = '10'+ mounthStr + 'S';
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['id','用户编号','用户名称','用户地址','手机号码','表号','线路号','小区ID','抄表员ID','上月抄表读数','本月抄表读数','用水量','水费单价','抄表日期'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100 },
					{ name: 'userName', width: 120 },
					{ name: 'userDs', width: 140 },
					{ name: 'emptyStr', width: 80 },
					{ name: 'meterNumber', width: 120 },
					{ name: 'emptyStr', width: 80 },
					{ name: 'emptyStr', width: 80 },
					{ name: 'defaultTwo',width:80},
					{ name: 'fmonn', align: 'right', width: 80 },
					{ name: 'thNumber', align: 'right', width: 80 },
					{ name: 'waterMete', align: 'right', width: 80 },
					{ name: 'haPricestandard.price1',  width: 80 },
					{ name: 'thRTime',  width: 150 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_whyw"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType,"params[operatorCode]":[[${session.operatorCode}]]};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','名称','抄表年月','旧表本次抄表指数','新表基数','新表读数','是否换表','抄表时间','更新时间','抄表员','计费标记'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100, formatter:'interger' },
					{ name: 'userName', align: 'right', width: 130 },
					{ name: 'defaultThree',width:100},
					{ name: 'thNumber', align: 'right' ,width: 130 },
					{ name: 'defaultOne', align: 'right' ,width: 70 },
					{ name: 'thNumber', align: 'right' ,width: 70 },
					{ name: 'defaultOne',align: 'right' ,width: 70 },
					{ name: 'thRTime', width: 150 },
					{ name: 'defaultFour', width: 150 },
					{ name: 'defaultTwo', width: 70 },
					{ name: 'emptyStr', width: 70}
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_ynsw"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterid','序号','业主编号','业主名称','地址','表类型','表号','读数','抄收时间'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterid',  width: 75, key: true, hidden: true},
					{ name: 'emptyStr', width: 75},
					{ name: 'userNo', width: 100, formatter:'interger' },
					{ name: 'userName', align: 'right', width: 100 },
					{ name: 'userDs', width: 140 },
					{ name: 'defaultFive', align: 'right' ,width: 70 },
					{ name: 'meterNumber', align: 'right' ,width: 120 },
					{ name: 'thNumber', align: 'right' ,width: 70 },
					{ name: 'thRTime', width: 150 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_bnss"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','安装地址','用户编号','表具编号','上级设备','今日止度','表具口径','表具状态','抄读方式','状态代码'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userDs', width: 180 },
					{ name: 'userNo', width: 100 },
					{ name: 'meterNumber', align: 'right', width: 100 },
					{ name: 'topEquipment', align: 'right', width: 100 },
					{ name: 'thNumber', align: 'right' ,width: 70 },
					{ name: 'defaultOne', align: 'right' ,width: 70 },
					{ name: 'state' ,width: 70 },
					{ name:'defaultTwo', width: 70 },
					{ name:'defaultThree', width: 70 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_dzss"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','客户号','户主姓名','用户地址','上次表数','本次表数','抄表时间','抄表员号'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100 },
					{ name: 'userName', align: 'right', width: 140 },
					{ name: 'userDs', width: 200 },
					{ name: 'fmonn', align: 'right' ,width: 80 },
					{ name: 'thNumber', align: 'right' ,width: 80 },
					{ name: 'thRTime',width: 150 },
					{ name: 'defaultOne',width: 80 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_xtss"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','抄表月份','抄表时间','本次采集读数','抄见类别','同步时间','厂家编码'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', align: 'right', width: 100 },
					{ name: 'defaultOne', align: 'right', width: 100 },
					{ name: 'thRTime', width: 150 },
					{ name: 'thNumber', align: 'right' ,width: 80 },
					{ name: 'defaultTwo', align: 'right' ,width: 80 },
					{ name: 'emptyStr', width: 150 },
					{ name: 'emptyStr', width: 80 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_hjss"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','用户名称','水表编号','抄表状态','当前表码','抄表时间','抄表员'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', align: 'right', width: 100 },
					{ name: 'userName', width: 100 },
					{ name: 'meterNumber', align: 'right', width: 150 },
					{ name: 'defaultOne', align: 'right', width: 80 },
					{ name: 'thNumber', align: 'right', width: 80 },
					{ name: 'thRTime',formatter: "date", formatoptions: {srcformat: 'Y-m-d', newformat: 'Y-m-d'}, align: 'right', width: 120 },
					{ name: 'emptyStr', width: 80 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_scsy"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','户号','钢印号','本期抄表日','本期读数'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100, formatter:'interger' },
					{ name: 'meterNumber', align: 'right', width: 140 },
					{ name: 'thRTime', width: 150 },
					{ name: 'thNumber', align: 'right' ,width: 80 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_scjdz"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','外挂编号','本次读数','抄表日期','用户名称','用户地址','抄表标志','用户代码'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'meterNumber', width: 100},
					{ name: 'thNumber', align: 'right', width: 80 },
					{ name: 'thRTime', width: 80 },
					{ name: 'userName', width: 100 },
					{ name: 'userDs', width: 200 },
					{ name: 'emptyStr', align: 'right' ,width: 70 },
					{ name: 'defaultOne', width: 100 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_hlyb"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','用户编号','最近读数','最近抄表时间','用户名称','用户地址','表号'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo', width: 100},
					{ name: 'thNumber', align: 'right', width: 80 },
					{ name: 'thRTime', width: 150 },
					{ name: 'userName', width: 100 },
					{ name: 'userDs', width: 200 },
					{ name: 'meterNumber',width: 100 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_fswx"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','表具编号','集中器编号','本次读数','本次读数时间','仪表状态'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'meterNumber', width: 100, formatter:'interger' },
					{ name: 'deviceId', align: 'right', width: 100 },
					{ name: 'thNumber', width: 80 },
					{ name: 'thRTime',width: 150 },
					{ name: 'state',width: 80 }
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_gdsg"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','小区','楼栋','单元','门牌','用户名','铅封号','用户编码','设备编码','口径','流量','压力','瞬时流量','阀门状态','表具状态','电压','温度','上传时间','表具时间'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'areaName', align: 'right', width: 100 },
					{ name: 'haBuilding.name', width: 80 },
					{ name: 'haRoom.name',width: 150 },
					{ name: 'defaultOne',width: 150 },
					{ name: 'userName',width: 150 },
					{ name: 'defaultOne',width: 150 },
					{ name: 'userNo',width: 150 },
					{ name: 'centorNo',width: 150 },
					{ name: 'defaultOne',width: 150 },
					{ name: 'defaultOne',width: 150 },
					{ name: 'defaultOne',width: 150 },
					{ name: 'defaultOne',width: 150 },
					{ name: 'defaultOne',width: 150 },
					{ name: 'state',width: 150 },
					{ name: 'defaultOne',width: 150 },
					{ name: 'defaultOne',width: 150 },
					{ name: 'thRTime',width: 150 },
					{ name: 'defaultOne',width: 150 },
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_lclxgss"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.ExcelFileName = '0117';
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','户号','户名','用户地址','本月读数','实用水量','表况代码'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo',  width: 100},
					{ name: 'userName', align: 'right', width: 100 },
					{ name: 'userDs', width: 80 },
					{ name: 'thNumber',width: 150 },
					{ name: 'thNumber',width: 150 },
					{ name: 'state',width: 150 },
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_ahlass"){
				companyChange(showListType);
				var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 115);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','UserID','本期行至','本期抄表日'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo',  width: 100},
					{ name: 'thNumber', align: 'right', width: 100 },
					{ name: 'thRTime', width: 180},
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_jlhd"){
				companyChange(showListType);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {"params[showListType]": showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','USERID','CURDATA','READDATE','SUCCFLAG'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo',  width: 100},
					{ name: 'thNumber', width: 100 },
					{ name: 'thRTime', width: 180},
					{ name: 'defaultOne', width: 100 },
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_hnxs"){
				companyChange(showListType);
				var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 115);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {ListNumber: g_ListNumber, showListType: showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','户号','钢印号','本期抄表日','本期读数'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'userNo',  width: 100},
					{ name: 'meterNumber', width: 100 },
					{ name: 'thRTime', width: 180},
					{ name: 'thNumber', width: 100 },
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}else if(showListType == "sys_sxyp"){
				companyChange(showListType);
				var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 115);
				GridObj.unloadGrid();
				GridObj.removeGridResize();
				GridObj.jqdefaultGridConfig.caption = "";
				GridObj.jqdefaultGridConfig.multiselect = false;
				GridObj.jqdefaultGridConfig.postData = {ListNumber: g_ListNumber, showListType: showListType};
				GridObj.jqdefaultGridConfig.colNames = ['meterId','阀门状态','累计流量','表号','读取数据时间','电池电压'];
				GridObj.jqdefaultGridConfig.colModel = [
					{ name: 'meterId',  width: 75, key: true, hidden: true},
					{ name: 'controlStatus',  width: 100},
					{ name: 'lastStdegree', width: 100 },
					{ name: 'meterCode', width: 180},
					{ name: 'readTime', width: 100 },
					{ name: 'voltage', width: 100 },
				];
				GridObj.drawGrid();
				GridObj.drawGridPager();
				GridObj.setGridSize();
				GridObj.gridResize();
			}
		}

		showjqGridList(g_showListType);
		$(document).keydown(function(event){
			if(event.keyCode==13){
				$(".search").click();
			}
		});
		$("#showListType").change(function(){
			var showListType = $("#showListType").val();
			showjqGridList(showListType);
		});

		$(".search").click(function(){
			var _showListType = $("#showListType").val();
			var  _pdArray = "";
			_pdArray = {
				"params[keyWord]": $("#keyWord").val(),
				"params[showListType]": _showListType,
				"params[nodeType]": $("#nodeType").val(),
				"params[nodeIds]": $("#nodeIds").val(),
				"params[monthType]": $("#monthTypeId").val(),
				"params[queryMonth]": $("#queryMonth").val()
			};
			fullTextSearch("jqGrid", _pdArray);
		});

		var _myLayui = new myLayui;
		$(".layui-btn").click(function(){
			var btnTitle = $(this).data("title");
			var showListType = $("#showListType").val();
			var url="";
			var postData = {};
			var nodeType=$("#nodeType").val();
			var nodeIds=$("#nodeIds").val();
			if(btnTitle == "查询")
				return;
			if(btnTitle == "DBF文件" || btnTitle == "TXT文件"){
				if(nodeIds == "" || nodeIds == "-1"){
					layer.msg("请选择区域", { icon: 5 });
					return false;
				}
				if(showListType == "sys_tzss"){
					if(!$("#queryMonth").val()){
						layer.msg("请选择月份", { icon: 5 });
						return false;
					}
				}
			}
			if(btnTitle != "数据上传" && btnTitle != "接口数据上传") {
				postData["params[showListType]"] = showListType;
				postData["params[nodeType]"] = nodeType;
				postData["params[nodeIds]"] = nodeIds;
				if(showListType == "sys_tzss"){
					postData["params[monthType]"] = $("#monthTypeId").val();
					postData["params[queryMonth]"] = $("#queryMonth").val();
				}
			}
			if(btnTitle == "DBF文件"){
				url = "/thirdpartydata/exportToDbf";
				$.ktamr.exportTxtDbf(url, postData);
			}else if(btnTitle == "TXT文件"){
				url = "/thirdpartydata/exportToTxt";
				$.ktamr.exportTxtDbf(url, postData);
			}else if(btnTitle == "EXCEL文件"){
				url = "/thirdpartydata/exportCustomExcel";
				$.ktamr.exportCustomExcel(url, postData);
			}else if(btnTitle == "数据上传"){
				if(showListType == "sys_jrss" || showListType == "sys_ahqj"){
					var _layerSize = ['500px', '320px'];
					_myLayui.showLayer("用户抄表数据导入导出","/thirdpartydata/usersUpload", "", _layerSize);
				}else if(showListType == "sys_dzss"){
					var _layerSize = ['500px', '320px'];
					_myLayui.showLayer("用户抄表数据导入导出","/thirdpartydata/usersUpload", "", _layerSize);
				}
			}else if(btnTitle == "接口数据上传"){
				var operatorLevel = [[${session.haOperator.operatorLevel}]];
				var operatorName = [[${session.haOperator.operatorName}]];
				var get_cmdid_url = "/smallbox/haCmd/cmdAdd";
				if(operatorLevel == "admin"){
					var _layerSize = ['300px', '220px'];
					_myLayui.showLayer("上传接口数据","/thirdpartydata/dataUpload", "", _layerSize);
				}else{
					$.ajax({
						url: get_cmdid_url
						,data: {
							centorid: 0
							,cmd: "接口数据上传:"+operatorName
						}
						,type: "POST"
						,contentType:"application/x-www-form-urlencoded;charset=UTF-8"
						,async:true //异步请求
						,success: function(data){
							if(data=="ok"){
								parent.layer.msg("执行成功！", {icon: 1});
							}else{
								layer.msg(data, {icon: 5});
							}
						}
					});
				}
			}
		});
	});
</script>
</body>
</html>
