<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .mylayui-item{width: 380px;}
        .mySelect dl{max-height: 170px;}
        .layui-form-label {
            padding: 6px 10px;
            width: 80px;
        }
        .layui-input{
            height: 32px;
            line-height: 32px;
        }
    </style>
</head>
<body class="ibox-page">
<form class="layui-form my-form-class-single">
    <input type="hidden" id="cmdName" th:value="${cmdName}">
    <input type="hidden" id="deviceId" th:value="${deviceId}">
    <input type="hidden" id="collectorId" th:value="${collectorId}">
    <input type="hidden" id="readLineId" th:value="${readLineId}">
    <input type="hidden" id="gAreaId" th:value="${gAreaId}">
    <div class="layui-form-item" >
        <div class="layui-inline" >
            <label class="layui-form-label">所属小区</label>
            <div class="layui-input-inline mySelect my-form-input-single">
                <select id="area" name="area" lay-filter="area" lay-verify="required" lay-search th:value="${gAreaId}">
                    <option value="">请输入关键字并选择</option>
                    <option th:selected="${gAreaId eq haAreas.areaId}" th:each="haAreas : ${haArea}"
                            th:value="${haAreas.areaId}" th:text="${haAreas.areaNo}+':'+${haAreas.haName}"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline" >
            <label class="layui-form-label">所属楼栋</label>
            <div class="layui-input-inline mySelect my-form-input-single">
                <select id="building" name="building" lay-filter="building" lay-verify="required" lay-search>
                    <option value="">请输入关键字并选择</option>

                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline" >
            <label class="layui-form-label" >楼层编号</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" id="l_min" name="l_min" lay-verify="required|number|num_gt_0" placeholder="最低楼层数" autocomplete="off" class="layui-input" maxlength="2">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" id="l_max" name="l_max" lay-verify="required|number|num_gt_0" placeholder="最高楼层数" autocomplete="off" class="layui-input" maxlength="2">
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline" >
            <label class="layui-form-label">房间编号</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" id="r_min" name="r_min" lay-verify="required|number|num_gt_0" placeholder="最小房间号" autocomplete="off" class="layui-input" maxlength="2">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" id="r_max" name="r_max" lay-verify="required|number|num_gt_0" placeholder="最大房间号" autocomplete="off" class="layui-input" maxlength="2">
            </div>
        </div>
    </div>
    <div class="form-inline my-page-btn-single">
        <button lay-submit type="button" id="sure" lay-filter="sure" class="btn btn-default btn-sm btnMargin" ><img src="../images/tick.png" />确定</button>
        <button type="button" id="close" class="btn btn-default btn-sm btnMargin"><img src="../images/cancel.png" />关闭</button>
    </div>
</form>
<div th:include="include :: footer"></div>
<script>
    layui.use(['layer','form','jquery'], function(){
        var form = layui.form
            ,layer = layui.layer
        $ = layui.jquery;

        var g_op_url = "bound_devices_do.asp";
        var g_centorId = $("#deviceId").val();
        var g_collectorId = $("#collectorId").val();
        var g_readLineId = $("#readLineId").val();
        var g_areaId=$("#gAreaId").val(), g_buildingId = "";

        form.verify({
            num_gt_0: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(Number(value)<= 0){
                    return '必须大于0';
                }
            }
        });

        function submitInfo(postData){
            $.ajax({
                url: g_op_url
                ,data: postData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    var n = Number(data);
                    if(!isNaN(n)){
                        layer.msg("关联成功"+n+"块表！", {icon: 1});
                        parent.$("#jqGrid3").trigger("reloadGrid");
                    }else{
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }
        function appendOption(objId, str){
            var selectObj = $("#"+objId);
            var option = "";
            var arr = new Array();  //存储的是一整条数据       0   1      2    3   4
            var atr = new Array();  //存储一条数据的每个项atr(id,name)

            if(str!=""){
                var selId = selectObj.val();

                selectObj.empty();
                option = $("<option>").val("").text("请输入关键字并选择");
                selectObj.append(option);
                arr = str.split(";");
                for(i=0;i<arr.length-1;i++){
                    atr=arr[i].split(",");
                    option = $("<option>").val(atr[0]).text(atr[1]);
                    selectObj.append(option);
                }

                selectObj.val(selId);
            }
            else{
                selectObj.empty();
            }
        }
        // function load_building_option(parentId){
        //     var load_building_url = "/custom/QueryHaBuildingJson";
        //     $.ajax({
        //         url: load_building_url
        //         ,data: {
        //             areaId: parentId
        //         }
        //         ,type: "POST"
        //         ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
        //         ,async:true //异步请求
        //         ,success: function(data){
        //             var option = $("<option>").val("").text("");
        //             $("#building").append(option);
        //             for (var i = 0; i < data.length; i++) {
        //                 $("#building").append("<option value='" + data[i].buildingId + "'>" + data[i].buildingNo + ':' + data[i].name + "</option>");
        //             }
        //             form.render('select');//刷新表单元素
        //             g_buildingId = "";
        //         }
        //     });
        // }
        function load_building_option(parentId){
            var load_building_url = "/custom/QueryHaBuildingJson";
            $.ajax({
                url: load_building_url
                ,data: {
                    areaId: parentId
                }
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:true //异步请求
                ,success: function(data){
                    appendOption("building", data);
                    form.render('select');//刷新表单元素
                    g_buildingId = "";
                }
            });
        }
        function pageInit(){
            $("#area").val(g_areaId);
            load_building_option(g_areaId);
            form.render('select');
        }
        form.on('select(area)', function(data){
            var areaId = $("#area").val();
            // var areaObj = $(data.elem);
            // areaId = areaObj.val();
            alert(areaId);
            load_building_option(areaId);
        });
        form.on('select(building)', function(data){
            var buildingObj = $(data.elem);
            g_buildingId = buildingObj.val();
        });

        $("#close").click(function(){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        });

        form.on('submit(sure)', function (data) {
            var data = {
                centorId: g_centorId,
                collectorId: g_collectorId,
                readLineId: g_readLineId,
                buildingId: g_buildingId,
                l_min: padNumber($("#l_min").val(), 2),
                l_max: padNumber($("#l_max").val(), 2),
                r_min: padNumber($("#r_min").val(), 2),
                r_max: padNumber($("#r_max").val(), 2)
            }
            submitInfo(data);
        });
        pageInit();
    });
</script>
</body>
</html>