<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .my-info .my-span{
            font-size:12px;padding:0.6em 1em 0.6em;
        }
        .my-info .my-badge{
            vertical-align:baseline;
        }
        .col-xs-1{
            min-width: 90px;
        }
        .col-xs-2{
            min-width: 180px;
        }
    </style>
</head>
<body class="myPage-body">
<div class="container myContainer">
    <form class="layui-form">
        <div class="row" style="margin:0;padding:5px 0px 2px 0px;">
            <div class="col-xs-2 my-form-col">
                <select id='device_type' class="selectpicker form-control" data-style="btn-default btn-sm" data-size="5" title="请选择设备类型" lay-ignore>
                    <option value='CT' selected>NB-Iot集采器(CT)</option>
                    <option value='MT'>NB-Iot表(MT)</option>
                </select>
            </div>
            <div class="col-xs-2 my-form-col">
                <select id='company' class="selectpicker form-control" data-style="btn-default btn-sm" data-size="5" title="请选择客户名称" lay-ignore>
                    <option value='SZJP' selected>深圳骏普(SZJP)</option>
                    <option value='SZYK'>深圳云科(SZYK)</option>
                    <option value='HZZY'>惠州智源(HZZY)</option>
                </select>
            </div>
            <div class="col-xs-1 my-form-col">
                <input class="input-sm form-control precode" type="text" lay-verify="required|num" size="10" placeholder="请输入前缀">
            </div>
            <div class="col-xs-1 my-form-col">
                <input class="input-sm form-control code_length" type="text" lay-verify="num" size="10" onkeyup="generalMask(this)" placeholder="可输入长度">
            </div>
            <div class="col-xs-1 my-form-col">
                <input class="input-sm form-control plan_amount" type="text" lay-verify="required|num" size="10" onkeyup="generalMask(this)" placeholder="请输入计划数">
            </div>
            <div class="pull-right" style="display:block;padding:0px 2px;">
                <button data-modal="" data-title="查询放码记录" type="button" class="layui-btn-primary layui-btn-sm">查询放码记录</button>
            </div>
        </div>
        <div class="row" style="margin:0;padding:5px 0px 5px 0px;">
            <div class="col-xs-2 my-form-col">
                <input class="input-sm form-control device_addr" type="text" lay-verify="required|number|precode|code_length" size="10" placeholder="请输入设备地址">
            </div>
            <div class="col-xs-2 my-form-col">
                <input class="input-sm form-control device_ip" type="text" lay-verify="ipV4" size="10" placeholder="可输入IP">
            </div>
            <div class="col-xs-1 my-form-col">
                <input class="input-sm form-control device_port" type="text" lay-verify="port" size="10" onkeyup="generalMask(this)" maxlength="6" placeholder="可输入端口">
            </div>
            <div class="col-xs-1 my-form-col">
                <button data-modal="" data-title="设置地址" lay-submit type="button" lay-filter="setData" class="layui-btn layui-btn-normal layui-btn-sm set_addr"><span class="glyphicon glyphicon-pencil"></span> 设置地址</button>
            </div>
            <div class="pull-right my-info" style="display:block;padding:5px 2px;">
                <span class="label label-info my-span" data-toggle="tooltip" title="本批次生成放码记录次数">实际数量 <span class="badge my-badge real_amount">0</span></span>
                <span class="label label-success my-span" data-toggle="tooltip" title="本批次成功放码次数">成功数量 <span class="badge my-badge ok_amount">0</span></span>
                <span class="label label-warning my-span" data-toggle="tooltip" title="本批次成功放码重号次数">重号数量 <span class="badge my-badge dup_amount">0</span></span>
            </div>
        </div>
    </form>
    <div class="row my-form-no-edge">
        <div class="col-md-12 my-form-no-edge">
            <form class="form-horizontal" id="jqgridForm" role="form">
                <table id="jqGrid" rel="jqgridForm" class="jqgrid"></table>
                <div id="jqGridPager"></div>
            </form>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script language="JavaScript">
    layui.config({
        base : '/common/js/',
        version: '<%=Application("webVersion")%>'
    }).extend({
        myLayui: 'myLayui'
    });
    layui.use(['layer', 'form', 'myLayui'], function(){
        var layer = layui.layer,
            myLayui = layui.myLayui,
            form = layui.form;
        var g_isSetIPPort = false, g_loadIndex = 0;

        var Post_Data = {ListNumber: 50};
        var GridObj = new myJqGrid("jqGrid", "jqGridPager", "jqgridForm", 154);
        GridObj.jqdefaultGridConfig.caption = "";
        GridObj.jqdefaultGridConfig.multiselect = false;
        GridObj.jqdefaultGridConfig.postData = Post_Data;
        GridObj.jqdefaultGridConfig.colNames = ['id','设备地址','放码时间','IMSI','IMEI','信号强度','电池电压(V)','放码状态','读码状态','最终状态','操作描述','所属批次'];
        GridObj.jqdefaultGridConfig.colModel = [
            { name: 'id',  width: 70, key: true, hidden: true},
            { name: '设备地址', width: 100, align: 'right'},
            { name: '放码时间', width: 150 },
            { name: 'IMSI', width: 100 },
            { name: 'IMEI', width: 100 },
            { name: '信号强度', width: 70 },
            { name: '电池电压', width: 85 },
            { name: '放码状态', width: 70 },
            { name: '读码状态', width: 70 },
            { name: '最终状态', width: 70, cellattr: CmdStateCellColor },
            { name: '操作描述', width: 120 },
            { name: '所属批次', width: 160 }
        ];
        GridObj.drawGrid();
        GridObj.drawGridPager();
        GridObj.setGridSize();
        GridObj.gridResize();
        GridObj = null;

        function showLoadLayer(msg){
            g_loadIndex = layer.msg(msg, {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false, time:180*1000});
            return g_loadIndex;
        }
        function closeLoadLayer(){
            layer.close(g_loadIndex);
        }

        var pmManage = function(gridId, rowId){
            this.gridId = gridId;
            this.rowId = rowId;
            this.get_result_timer = this.generate_timer();
            this.get_result_timer2 = this.generate_timer2();
        };
        pmManage.prototype.generate_timer2 = function(){
            var _this = this;
            return $.timer(function(){
                $.get("../datamng/ha_cmd/cmd_ajax_get.asp",
                    {cmdid: _this.cmdid},
                    function(data,status){
                        if (status == "success"){
                            var n, state, processing, s;
                            s = unescape(data);
                            n = s.indexOf(":");
                            if (n > 1){
                                state = s.substr(0,n);
                                processing = s.substr(n+1);
                            }else{
                                processing = s;
                            }
                            if ((state == "完成") || (state == "失败")){
                                closeLoadLayer();
                                var re = _this.cmd.split(":");
                                if(state == "完成"){
                                    processing = "<font color='green'>"+re[0]+"成功</font>";
                                    layer.msg(processing, {icon: 1});
                                }else{
                                    processing = "<font color='red'>"+re[0]+"失败</font>";
                                    layer.msg(processing, {icon: 5});
                                }
                                _this.get_result_timer2.stop();
                            }
                        }
                    }
                );
            });
        }
        pmManage.prototype.loadCmd = function(){
            var _this = this;
            showLoadLayer("执行命令 "+_this.cmd);
            $.ajax({
                url: "../datamng/ha_cmd/cmd_add_do.asp"
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,data: {
                    centorid: ""
                    ,cmd: _this.cmd
                }
                ,async:false //同步请求
                ,success: function(data){
                    if(!isNaN(data)){
                        _this.cmdid = data;
                        _this.get_result_timer2.set({time: 3*1000, autostart: true});
                    }else{
                        closeLoadLayer();
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }
        pmManage.prototype.generate_timer = function(){
            var _this = this;
            return $.timer(function(){
                $.get("ajax_get_data.asp",
                    {dataType: "pm", id: _this.rowId},
                    function(data,status){
                        if (status == "success"){
                            var state = data, r = "";
                            if ((state == "完成") || (state == "失败")){
                                if(state == "完成"){
                                    r = "<font color='green'>完成</font>";
                                }else{
                                    r = "<font color='red'>失败</font>";
                                }
                                $("#"+_this.gridId).setRowData(_this.rowId, {"最终状态": r});
                                _this.reloadRowData();
                                _this.reloadRecordsAmount();
                                _this.get_result_timer.stop();
                                if(g_isSetIPPort){//执行设置IP端口命令
                                    var rowData = $("#"+_this.gridId).jqGrid('getRowData', _this.rowId);
                                    _this.cmd = "设IP端口"+":"+rowData["设备地址"]+","+$(".device_port").val()+","+$(".device_ip").val();
                                    _this.loadCmd();
                                }
                            }
                        }
                    }
                );
            });
        }
        pmManage.prototype.reloadRecordsAmount = function(){
            var sendData = {
                device_type: $("#device_type").val(),
                company: $("#company").val()
            };
            $.ajax({
                url: "ajax_get_records_amount.asp"
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    var amountArray = data.split(",");
                    $(".real_amount").html(amountArray[0]);
                    $(".ok_amount").html(amountArray[1]);
                    $(".dup_amount").html(amountArray[2]);
                }
            });
        }
        pmManage.prototype.reloadRowData = function(){
            var _this = this;
            var currentRowId = _this.rowId;
            $.ajax({
                url: "../client_trans/RowDataGet.asp"
                ,data: {
                    dataList: "pmRecord"
                    ,id: currentRowId
                }
                ,async:false //同步请求
                ,success: function(data){
                    if(data){
                        var jsonobj=eval('('+data+')');
                        $("#"+_this.gridId).setRowData(currentRowId,{"放码状态": jsonobj["放码状态"],"读码状态":jsonobj["读码状态"], "操作描述":jsonobj["操作描述"]});
                    }
                }
            });
        }
        $("[data-toggle='tooltip']").tooltip();
        form.verify({
            num: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(value != "" && !isNumber(value)){
                    return '必须为正整数';
                }
            },
            precode: function(value, item){
                var _precode = $(".precode").val();
                if(value.substr(0, _precode.length) != _precode){
                    return '放码前缀不一致';
                }
            },
            code_length: function(value, item){
                var _code_length = $(".code_length").val();
                if(_code_length !="" && value.length != _code_length){
                    return '放码长度不一致';
                }
            },
            ipV4:function(value, item){
                if(value !="" && !isValidIP(value)){
                    return '非法的IP';
                }
            },
            port:function(value, item){
                if(value !="" && (value<0 || value>65535)){
                    return '非法的端口号';
                }
            }
        });
        var initWidth = 900;
        var initHeight = 400;
        var width = "";
        var height = "";
        var layerIndex = "";
        var _myLayui = new myLayui;
        $(".layui-btn-primary").click(function(){
            var btnTitle = $(this).data("title");
            var jqGridRowsID = getSelectedRows("jqGrid");
            var size = _myLayui.initLayerSize(initWidth, initHeight);
            width = size[0];
            height = size[1];
            switch(btnTitle){
                case "查询放码记录":
                    url = "devices/device_addr_set_records.asp";
                    layerIndex = top.layer.open({
                        type: 2 //iframe
                        ,title: '放码记录'
                        ,area: [width, height]
                        ,shade: 0
                        ,maxmin: true
                        ,content: url
                    });
                    break ;
                default:
                    break;
            }
        });
        $(window).resize(function(){
            _myLayui.resizeLayer(layerIndex, initWidth, initHeight);
        });

        function submitInfo(destUrl, sendData){
            $.ajax({
                url: destUrl
                ,data: sendData
                ,type: "POST"
                ,contentType:'application/x-www-form-urlencoded; charset=UTF-8'
                ,async:false //同步请求
                ,success: function(data){
                    if(!isNaN(data)){
                        layer.msg("等待放码...", {icon: 1});
                        $("#jqGrid").trigger("reloadGrid");
                        var pmObj = new pmManage("jqGrid", data);
                        pmObj.reloadRecordsAmount();
                        pmObj.get_result_timer.set({time: 2*1000, autostart: true});
                        delete pmObj;
                    }else{
                        layer.msg(data, {icon: 5});
                    }
                }
            });
        }
        $(document).keydown(function(event){
            if(event.keyCode==13){
                $(".set_addr").click();
            }
        });

        form.on('submit(setData)', function (data) {
            var btn = data.elem, btnName = "";
            var ip = "", port = "";
            btnName = $(btn).data("title");
            ip = $(".device_ip").val();
            port = $(".device_port").val();
            if(ip !="" || port !=""){
                if(ip == ""){
                    layer.msg("IP不能为空！", {icon: 5});
                    return false;
                }else if(port == ""){
                    layer.msg("端口不能为空！", {icon: 5});
                    return false;
                }else{
                    g_isSetIPPort = true;
                }
            }

            if(btnName == "设置地址"){
                var url = "device_addr_set_do.asp";
                var data = {
                    device_type: $("#device_type").val(),
                    company: $("#company").val(),
                    precode: $(".precode").val(),
                    plan_amount: $(".plan_amount").val(),
                    device_addr: $(".device_addr").val()
                };
                var queryData = {deviceType: "KT3NB", deviceAddr: $(".device_addr").val()};
                if(isDataRepeat(queryData) == true){
                    layer.confirm("重复的设备地址，确定继续吗？", {icon:3, title:'提示'},
                        function(index, layero){
                            submitInfo(url, data);
                        });
                }else{
                    submitInfo(url, data);
                }
            }
        });
    });
</script>
</body>
</html>